<h1 mat-dialog-title>Заказ</h1>
<form [formGroup]="orderForm" (ngSubmit)="data?.edit ? saveOrder() : createOrder()">
  <div mat-dialog-content>

    <mat-form-field>
      <mat-label>Наименование заказа</mat-label>
      <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher">
      <mat-error *ngIf="orderForm.controls.name.hasError('required')">
        Это <strong>обязательное</strong> поле
      </mat-error>
    </mat-form-field>

    <div class="flex gap-2">
      <mat-form-field class="!min-w-[272px]">
        <mat-label>Количество деталей (шт.)</mat-label>
        <input type="number" min="0" matInput formControlName="itemCount" [errorStateMatcher]="matcher"
               placeholder="10">
        <mat-error *ngIf="orderForm.controls.itemCount.hasError('required')">
          Это <strong>обязательное</strong> поле
        </mat-error>
      </mat-form-field>
      <mat-form-field class="!min-w-[176px] max-w-[176px]">
        <mat-label>Вес детали 
          <span *ngIf="userSettings?.units === 'kg'"> (кг.) </span>
          <span *ngIf="userSettings?.units === 'gr'"> (гр.) </span>
        </mat-label>
        <input type="number" min="0" matInput formControlName="weight" [errorStateMatcher]="matcher"
               placeholder="0.5">
        <mat-error *ngIf="orderForm.controls.weight.hasError('required')">
          Это <strong>обязательное</strong> поле
        </mat-error>
      </mat-form-field>
    </div>

    <!-- <mat-form-field>
      <mat-label>Пластик</mat-label>
      <mat-select formControlName="plastic">
        <mat-option 
          class="plastic-option"
          [ngClass]="(storage.attributes.residueLimit >= storage.attributes.weight) ? '!hidden' : ''"
          *ngFor="let storage of storages"
          [value]="storage.id"
        >
          <div class="w-full flex justify-between">
            <span>{{storage.attributes.extId}}</span> &nbsp; <span>Остаток: <b>{{prepareWeightToForm(storage.attributes.weight, userSettings?.units ?? 'kg')}}</b> 
              <span *ngIf="userSettings?.units === 'kg'"> кг. </span>
              <span *ngIf="userSettings?.units === 'gr'"> гр. </span>
            </span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <autocomplete-infinit-scroll
      class="max-w-[12rem]"
      [pageSize]="100"
      [control]="orderForm.controls.plastic"
      [getItems]="getPaginateStorages"
      [hideOptionCondition]="hideOptionCondition"
      [placeholder]="'Пластик'"
      [displayWith]="displayWith"
      optionClasses="plastic-option"
    >
      <span additional>Остаток: <b>option.weight</b></span>
    </autocomplete-infinit-scroll>

    <div class="flex gap-2">
      <mat-form-field class="!min-w-[272px]">
        <mat-label>Затраты на разработку</mat-label>
        <input type="number" min="0" matInput formControlName="modelDesign" [errorStateMatcher]="matcher" placeholder="1000">
      </mat-form-field>
      <mat-form-field class="!min-w-[272px]">
        <mat-label>Сопутствующие расходы</mat-label>
        <input type="number" min="0" matInput formControlName="relatedExpenses" [errorStateMatcher]="matcher" placeholder="1000">
      </mat-form-field>
    </div>

    <div class="flex gap-2 mb-4" *ngIf="data?.edit">
      <mat-checkbox formControlName="completed">Выполнено</mat-checkbox>
      <mat-checkbox formControlName="paid">Оплачено</mat-checkbox>
    </div>
  </div>
  <div mat-dialog-actions class="!justify-between">
    <div class="flex">
      <button
        mat-raised-button
        *ngIf="!data?.edit"
        [disabled]="!orderForm.valid || !(orderForm.touched || orderForm.dirty)"
        type="submit"
        color="primary"
      >
        Добавить
      </button>
      <button
        mat-raised-button
        *ngIf="data?.edit"
        [disabled]="!orderForm.valid || !(orderForm.touched || orderForm.dirty)"
        type="submit"
        color="primary"
      >
        Сохранить
      </button>
      <button mat-raised-button color="warn" mat-dialog-close>Отмена</button>
    </div>
    <div class="flex">
      <div *ngIf="!data?.edit">
        <span>Итоговая цена: <b>{{price}}</b> </span>
      </div>
      <div *ngIf="data?.edit">
            <span>цена: <b>{{oldPrice}}</b> </span>
            <span *ngIf="oldPrice !== price"> &nbsp;<b>-></b>&nbsp; <b>{{price}}</b></span>
      </div>
    </div>
  </div>
</form>
