<mat-card class="w-1/4 min-w-[250px]">
  <mat-card-header class="flex flex-col justify-center">
    <div class="flex justify-center mb-8 w-full">
      <img
        width="200"
        alt="Logo"
        src="../../../assets/logo-inverted.svg"
      />
    </div>
    <h2>Login</h2>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="loginform" (ngSubmit)="proceedlogin()">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="identifier" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" >
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">Login</button>
        <a routerLink="/register" mat-raised-button color="accent">New User?</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>


